{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>My name is Kirill and I am a fledgeling Python developer.</p>
        <p>I want to perfect my skills so that I can create beautiful and useful software for people to enjoy.</p>
        <p>Interests: video games, Python backend development, data science, artificial intelligence.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}